/*
:Author: David Goodger (goodger@python.org)
:Id: $Id: html4css1.css 7056 2011-06-17 10:50:48Z milde $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
  border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils {
  margin-bottom: 5em }

dl.docutils dd {
  margin-bottom: 0.5em }

div.abstract {
  margin: 2em 5em }

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar, div.warning, div.caution, div.tip, div.error, pre.literal-block {
  display: block;
  margin: 1em ;
  border: 1px solid #D8D8D8;
  padding: 1em ;
  background-color: #f2f2f3; }

div.sidebar {
  width: 40% ;
  float: right }

div.system-messages {
  margin: 5em }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: inherit }

ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  color: #404050 }

p.sidebar-title, p.admonition-title, p.topic-title {
  font-size: larger }

p.sidebar-subtitle {
  font-weight: bold }

p.label {
  white-space: nowrap }

dt {
  font-weight: bold }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit }

pre.literal-block, pre.doctest-block, pre.math {
  margin-left: 2em ;
  margin-right: 2em }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre }

span.problematic {
  display: none; }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

table.citation, table.footnote {
  border-left: solid 8px #B0B0B8;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em;
  border-collapse: collapse;
   }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  text-align: left ;
  padding: 0.3em 0.8em ;
  vertical-align: top; }

table.docutils td, table.docutils th {
  border: 1px solid #80a0c0; }

table.docutils th {
  background-color: #6080a0; color: #ffffff; }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

div.figure { margin-top: 2em; margin-bottom: 2em; }
div.figure img { border: 1px solid #B0B0B8; padding: 1px; }

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100% }

ul.auto-toc li {
  list-style-type: none }

table.footnote td, table.footnote th, table.field-list td, table.field-list th, table.option-list td, table.option-list th {
  border:none; background: none; color: black; }


/*

Additional styles from Martin Marek for User manual template

*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video, a img { border: 0; }

body, form, input, select, textarea, table, td, li, h4, h5, h6 { font-family: "Droid Serif", Palatino, Georgia, serif; _font-size: 90%; }
h1, h2, h3, dt, p.caption, p.topic-title, p.sidebar-title, p.sidebar-subtitle, p.admonition-title, span.classifier, span.classifier-delimiter, span.interpreted { font-family: "Droid Sans", Arial, Helvetica, sans-serif; }
code, pre { font-family: "Droid Sans Mono", Courier, monospace; font-weight: normal; font-size: 90%; }
h1, h2, h3, h4, h5, h6, p.topic-title, p.sidebar-title, p.sidebar-subtitle, p.admonition-title { color: #70a0d0 }
h1, h2, h3 { font-weight: normal; }
a, a:link, a:visited { color: #3060a0; text-decoration: none; border: 0; }
a:hover, a:active { border: 0; cursor: pointer; }

